.DS_Store
.idea
.vscode
node_modules
bower_components
npm-debug.log
Desktop.ini
._*
.Spotlight-V100
.Trashes

.config/git/custom.gitconfig
**/.zcompdump*

**/zsh/local*.z*

.config/nvim/queries
.config/nvim/lazy-lock.json

**/*_history
**/iterm2/AppSupport

.config/fish/fish_variables
.config/fish/**/*.local.fish

fish/functions/*bass*
