[submodule "powerlevel10k"]
path = .config/zsh/lib/themes/powerlevel10k
url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
path = .config/zsh/lib/plugins/zsh-autosuggestions
url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-syntax-highlighting"]
path = .config/zsh/lib/plugins/zsh-syntax-highlighting
url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "omz"]
path = .config/zsh/omz
url = https://www.github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh-completions"]
	path = .config/zsh/lib/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "fast-syntax-highlighting"]
	path = .config/zsh/lib/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "zsh-calc"]
	path = .config/zsh/lib/plugins/calc
	url = https://github.com/arzzen/calc.plugin.zsh.git
