.DS_Store
.idea
.vscode
node_modules
bower_components
npm-debug.log
Desktop.ini
._*
.Spotlight-V100
.Trashes

git/custom.gitconfig
**/.zcompdump*

**/zsh/local*.z*
**/zsh/.zsh_sessions

.config/nvim/queries
.config/nvim/lazy-lock.json

**/*_history
**/iterm2/AppSupport

.config/fish/fish_variables
.config/fish/**/*.local.fish

fish/functions/*bass*

zmk/artifacts

nvim/lazy-lock.json
nvim/lazyvim.json

firefox/**/*.zip
