.DS_Store
.idea
.vscode
node_modules
bower_components
npm-debug.log
Desktop.ini
._*
.Spotlight-V100
.Trashes
**/.zsh_history
**/nvim/**/packer_compiled.lua
.config/nvim/plugin/packer_compiled.lua

.config/git/custom.gitconfig
**/.zcompdump

**/zsh/local.z*

.config/nvim/queries
.config/nvim/lazy-lock.json

.config/zsh/.zcalc_history
**/iterm2/AppSupport
