/* ==UserStyle==
@name        Google Search
@description This is your new file, start writing code
@match       https://*.google.com/*
==/UserStyle== */

form[action="/search"] [aria-label="Search by voice"],
form[action="/search"] [aria-label="Search by image"],
form[action="/search"] #logo,
form[action="/search"] button[type="submit"][aria-label="Search"]
{
    display: none !important;
}

@media (min-width:941px) and (max-width:1300px) {
    div:has(> .logo > #logo) {
        margin-left: unset;
        width: unset;
    }
}

form[action="/search"] span {
    border-left: none;
}
