/* ==UserStyle==
@name        Songsterr
@description This is your new file, start writing code
@match       https://*.songsterr.com/*
==/UserStyle== */


#showroom,
#text-showroom,
#showroom_sidebar,
#showroom_panel,
#menu-plus,
#tuning-button-location,
#hide-layer-overlay,
div:has(> div > div > a > #goToPlus),
/* div:has(> [aria-label="last edit on"]), */
#new-tab-search,
.Cuqdk,
.Cto1rx, .Cip2pk, .D5an6,
footer div[aria-label="copyright"],
footer div[aria-label="terms of service"],
a[href="/a/wa/plus"],
#tablist div:has(#logo),
#header h1 span[aria-label="tab type"],
nav a div:not(:has(svg)),
nav #menu-inbox,
nav #menu-help,
#promo,
div:has(> button svg use[href$="#lock"]),
button:has(svg use[href$="#lock"]),
div:has(> div > div > button[aria-label="Switch to Synth audio"])
{
    display: none !important;
}

:root {
    --tab-strings-dark: #4d4d4d !important;
    --surface-dark: #141416 !important;
    --controls-surface-dark: #141416 !important;
    --panel-surface-dark: #141416 !important;
    --topbar-surface-dark: #141416 !important;
    --popup-surface-dark: #141416 !important;
    --controls-popup-surface-dark: #19191b !important;
    --controls-panel-height: 48px !important;
    --play-button-yt-dark: #808080 !important;
    --pause-button-yt-dark: #808080 !important;
    --play-button-group-dark: #1b1b1b !important;
    --controls-play-dark: #1b1b1b !important;
    --controls-play-hover-dark: #242424 !important;
    --controls-mixer-dark: #1b1b1b !important;
    --controls-mixer-hover-dark: #242424 !important;
}

#audio-source, #control-play {
    --controls-surface: var(--play-button-yt-dark) !important;
}

nav {
    height: 64px !important;
}

nav div:has(#menu-search) {
    justify-content: unset !important;
    gap: 24px;
    padding-left: 20px;
}

nav div:has(#menu-search) a {
    width: unset;
}
