/* ==UserStyle==
@name        Songsterr
@description This is your new file, start writing code
@match       https://*.songsterr.com/*
==/UserStyle== */


#showroom,
#text-showroom,
#showroom_sidebar,
#menu-plus,
#tuning-button-location,
#hide-layer-overlay,
div:has(> div > div > a > #goToPlus),
/* div:has(> [aria-label="last edit on"]), */
.Cto1rx, .Cip2pk, .D5an6,
footer div[aria-label="copyright"],
footer div[aria-label="terms of service"],
a[href="/a/wa/plus"],
#tablist div:has(#logo),
#header h1 span[aria-label="tab type"],
nav a div:not(:has(svg)),
nav #menu-inbox,
nav #menu-help,
#promo,
button:has(path[d="M 2.1 2.36 C 2.1 1.92 2.25 1.66 2.46 1.5 C 2.68 1.32 3.04 1.2 3.5 1.2 C 3.96 1.2 4.31 1.32 4.53 1.5 C 4.74 1.66 4.89 1.92 4.89 2.36 C 4.89 2.55 4.89 2.74 4.9 2.94 L 4.9 2.96 C 4.9 3.17 4.9 3.38 4.9 3.6 L 6.1 3.6 C 6.1 3.37 6.1 3.16 6.1 2.95 L 6.1 2.93 C 6.09 2.73 6.09 2.54 6.09 2.36 C 6.09 1.59 5.8 0.97 5.28 0.56 C 4.78 0.16 4.14 0 3.5 0 C 2.85 0 2.21 0.16 1.71 0.56 C 1.19 0.97 0.9 1.59 0.9 2.36 C 0.9 2.62 0.91 2.84 0.91 3.04 L 0.91 3.08 C 0.92 3.27 0.92 3.44 0.92 3.6 L 2.12 3.6 C 2.12 3.42 2.12 3.23 2.11 3.05 L 2.11 3.01 C 2.11 2.81 2.1 2.6 2.1 2.36 Z M 0 4.6 C 0 4.05 0.45 3.6 1 3.6 L 6 3.6 C 6.55 3.6 7 4.05 7 4.6 L 7 8.6 C 7 9.15 6.55 9.6 6 9.6 L 1 9.6 C 0.45 9.6 0 9.15 0 8.6 L 0 4.6 Z M 4.38 6.6 C 4.38 7.08 3.99 7.46 3.5 7.46 C 3.01 7.46 2.62 7.08 2.62 6.6 C 2.62 6.12 3.01 5.74 3.5 5.74 C 3.99 5.74 4.38 6.12 4.38 6.6 Z"]),
#controls > div > div > div:has(path[d="M 2.1 2.36 C 2.1 1.92 2.25 1.66 2.46 1.5 C 2.68 1.32 3.04 1.2 3.5 1.2 C 3.96 1.2 4.31 1.32 4.53 1.5 C 4.74 1.66 4.89 1.92 4.89 2.36 C 4.89 2.55 4.89 2.74 4.9 2.94 L 4.9 2.96 C 4.9 3.17 4.9 3.38 4.9 3.6 L 6.1 3.6 C 6.1 3.37 6.1 3.16 6.1 2.95 L 6.1 2.93 C 6.09 2.73 6.09 2.54 6.09 2.36 C 6.09 1.59 5.8 0.97 5.28 0.56 C 4.78 0.16 4.14 0 3.5 0 C 2.85 0 2.21 0.16 1.71 0.56 C 1.19 0.97 0.9 1.59 0.9 2.36 C 0.9 2.62 0.91 2.84 0.91 3.04 L 0.91 3.08 C 0.92 3.27 0.92 3.44 0.92 3.6 L 2.12 3.6 C 2.12 3.42 2.12 3.23 2.11 3.05 L 2.11 3.01 C 2.11 2.81 2.1 2.6 2.1 2.36 Z M 0 4.6 C 0 4.05 0.45 3.6 1 3.6 L 6 3.6 C 6.55 3.6 7 4.05 7 4.6 L 7 8.6 C 7 9.15 6.55 9.6 6 9.6 L 1 9.6 C 0.45 9.6 0 9.15 0 8.6 L 0 4.6 Z M 4.38 6.6 C 4.38 7.08 3.99 7.46 3.5 7.46 C 3.01 7.46 2.62 7.08 2.62 6.6 C 2.62 6.12 3.01 5.74 3.5 5.74 C 3.99 5.74 4.38 6.12 4.38 6.6 Z"])
{
    display: none !important;
}

:root {
    --tab-strings-dark: #4d4d4d !important;
    --surface-dark: #141416 !important;
    --controls-surface-dark: #141416 !important;
    --panel-surface-dark: #141416 !important;
    --topbar-surface-dark: #141416 !important;
    --popup-surface-dark: #141416 !important;
    --controls-popup-surface-dark: #19191b !important;
    --controls-panel-height: 48px !important;
    --play-button-yt-dark: #808080 !important;
    --pause-button-yt-dark: #808080 !important;
    --play-button-group-dark: #1b1b1b !important;
    --controls-play-dark: #1b1b1b !important;
    --controls-play-hover-dark: #242424 !important;
    --controls-mixer-dark: #1b1b1b !important;
    --controls-mixer-hover-dark: #242424 !important;
}

#audio-source, #control-play {
    --controls-surface: var(--play-button-yt-dark) !important;
}

nav {
    height: 64px !important;
}

nav div:has(#menu-search) {
    justify-content: unset !important;
    gap: 24px;
    padding-left: 20px;
}

nav div:has(#menu-search) a {
    width: unset;
}
