/* ==UserStyle==
@name        Zybooks
@description This is your new file, start writing code
@match       https://*.zybooks.com/*
==/UserStyle== */

.code-editor-container .code-container {
  width: 800px !important;
  height: 400px !important;
}

.editor-container {
  flex-direction: column !important;
}

.registers-and-memory-container {
  height: 400px !important;
}
